<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=t181120tollboothstorage;AccountKey=Gayd7I1wtDfcXw2noA7QyZ5PdFnF7cJjvotTz7kCxXRmwWgFFP4A4V1EBREEK2h6RQDL39BmEcfp93SZZzfDxQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>